*{
    margin:0;
    padding: 0;
    font-family: Arial;
}
body{
     background-color: #222;
}
.card{
    width: 90%;

    max-width: 470px;
    background: linear-gradient(135deg,#00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center; 
} 


.search{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;

}


.search input{
    border: 0;
    outline: 0;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius:70px;
    font-size: 18px;
    flex: 1;
    margin-right: 18px;
 
}

.search button{
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 60px;
    font-size: 18px;
    height: 60px;
    cursor: pointer;

}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}


.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    
}
.col img{
    width: 50px;
    margin-right: 15px;
}
.humidity, .wind{
    font-size: 25px ;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    margin-top: 30px;
    color: rgb(255, 221, 221);
    
    display: none;
}